$bg-light: #fcfcfc;
$border-dark: #eeeeee;
$border-light: #f5f4f7;
$brand-dark: #222222;
$brand-dark-lighter: #333333;
$brand-light: #898989;
$brand-light-lighter: #ededed;
$brand-lightest: #fafafa;
$brand-subtext: #7c7c7c;
