$bg-light: #fcfcfc;
$border-dark: #eeeeee;
$border-light: #f5f4f7;
$brand-dark: #222222;
$brand-dark-lighter: #333333;
$brand-light: #898989;
$brand-light-lighter: #ededed;
$brand-lightest: #fafafa;
$brand-subtext: #7c7c7c;

$gray1: hsl(0, 0%, 99%);
$gray2: hsl(0, 0%, 97.3%);
$gray3: hsl(0, 0%, 95.1%);
$gray4: hsl(0, 0%, 93%);
$gray5: hsl(0, 0%, 90.9%);
$gray6: hsl(0, 0%, 88.7%);
$gray7: hsl(0, 0%, 85.8%);
$gray8: hsl(0, 0%, 78%);
$gray9: hsl(0, 0%, 56.1%);
$gray10: hsl(0, 0%, 52.3%);
$gray11: hsl(0, 0%, 43.5%);
$gray12: hsl(0, 0%, 9%);
$blackA1: hsla(0, 0%, 0%, 0.012);
$blackA2: hsla(0, 0%, 0%, 0.027);
$blackA3: hsla(0, 0%, 0%, 0.047);
$blackA4: hsla(0, 0%, 0%, 0.071);
$blackA5: hsla(0, 0%, 0%, 0.09);
$blackA6: hsla(0, 0%, 0%, 0.114);
$blackA7: hsla(0, 0%, 0%, 0.141);
$blackA8: hsla(0, 0%, 0%, 0.22);
$blackA9: hsla(0, 0%, 0%, 0.439);
$blackA10: hsla(0, 0%, 0%, 0.478);
$blackA11: hsla(0, 0%, 0%, 0.565);
$blackA12: hsla(0, 0%, 0%, 0.91);
