@import "colors";

.base {
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 12px;

  &:not(:last-child) {
    border-bottom: 1px dashed $gray6;
  }

  div {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 15px;

    p:first-child {
      font-weight: 500;
      color: $gray12;
    }

    p:last-child {
      font-weight: 400;
      color: $gray9;
    }
  }
}
