@import "breakpoints";
@import "colors";

.base {
  background-color: white;
  border-radius: 8px;
  width: 600px;
  border: 1px solid $gray4;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.03);

  @media screen and (max-width: $screen-md) {
    width: 100%;
  }

  @media screen and (max-width: $screen-sm) {
    height: 100vh;
  }
}
