@import "colors";

.base {
  background-color: white;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 12px 0;
  gap: 8px;
}
