@import "colors";

.base {
  padding: 12px 24px;

  > div:first-of-type {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px dashed $gray6;
    padding-bottom: 12px;

    p {
      font-size: 15px;
      font-weight: 500;
    }

    a {
      font-size: 14px;
      color: $red9;
    }
  }
}

.highUrgency {
  > div:first-of-type {
    p {
      color: $red9;
    }
  }
}

.mediumUrgency {
  > div:first-of-type {
    p {
      color: $blackA12;
    }
  }
}

.lowUrgency {
  > div:first-of-type {
    p {
      color: $green9;
    }
  }
}
