@import "colors";

.base {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px dashed $gray6;
  padding: 12px 0;

  div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 12px;
  }

  a {
    display: flex;
    flex-direction: column;
    gap: 2px;
    font-size: 15px;

    p:first-child {
      font-weight: 500;
      color: $gray12;
    }

    p:last-child {
      font-weight: 400;
      color: $gray9;
    }
  }
}
