@import "breakpoints";

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 85px;

  @media screen and (max-width: $screen-sm) {
    gap: 0px;
  }
}
