@import "colors";

.DatePickerWrapper {
  border: 1px solid $gray2;
  border-radius: 4px;
  width: 320px;
  padding: 8px;
}

.DatePickerGrid {
  display: grid;
  grid-template-columns: repeat(7, minmax(0, 1fr));
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}

.DatePickerGridHeader {
  margin-top: 40px;
  font-size: 12px;
  text-align: center;
  display: grid;
  line-height: 24px;
  color: $gray10;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.ScreenReader {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.DatePickerControls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DatePickerControlsButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: none;
  padding: 4px;
  color: #9ca3af;
  cursor: pointer;
  border: 1px solid $gray3;
  border-radius: 4px;

  &:hover {
    color: #6b7280;
    background-color: $gray1;
  }
}

.Month {
  flex: 1 1 auto;
  color: $gray12;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.DatePickerDayCell {
  padding: 6px 0;
}

.DatePickerCellButton {
  margin: 0 auto;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 999px;
  cursor: pointer;

  &:hover {
    background-color: $gray2;
  }
}

.Selected {
  background-color: $gray12;
  color: white;
  font-weight: 500;

  &:hover {
    background-color: $gray12;
  }
}

.Today {
  color: $red9;
  font-weight: 500;
}

.SelectedToday {
  background-color: $red9;
  font-weight: 500;
  color: white;

  &:hover {
    background-color: $red9;
  }
}

.AdjacentMonthDay {
  color: $gray8;
}
