@import "colors";

.EmptyState {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: $gray7;

  h1 {
    font-size: 40px;
  }

  p {
    font-size: 18px;
  }
}
