@import "colors";

.SelectTrigger {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 0 15px;
  font-size: 13px;
  line-height: 1;
  height: 40px;
  gap: 5px;
  background-color: white;
  color: $gray12;
  border: 1px solid $gray4;

  &:hover {
    background-color: $gray2;
  }

  &:focus {
    box-shadow: 0 0 0 2px black;
  }

  &[data-placeholder] {
    color: $gray9;
  }
}

.SelectIcon {
  color: $gray11;
}

.SelectContent {
  overflow: hidden;
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 10px 38px -10px rgba(22, 23, 24, 0.35), 0px 10px 20px -15px rgba(22, 23, 24, 0.2);
}

.SelectViewport {
  padding: 5px;
}

.SelectItem {
  font-size: 13px;
  line-height: 1;
  color: $gray12;
  border-radius: 3px;
  display: flex;
  align-items: center;
  height: 35px;
  padding: 0 35px 0 25px;
  position: relative;
  user-select: none;

  &[data-disabled] {
    color: $gray8;
    pointer-events: none;
  }

  &[data-highlighted] {
    outline: none;
    background-color: $gray12;
    color: $gray1;
  }
}

.SelectLabel {
  padding: 0 25px;
  font-size: 12px;
  line-height: 25px;
  color: $gray11;
}

.SelectSeparator {
  height: 1px;
  background-color: $gray6;
  margin: 5px;
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.SelectScrollButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  background-color: white;
  color: $gray11;
  cursor: default;
}
