@import "colors";

.base {
  width: 100%;
  resize: none;
  outline: none;
}

.small {
  font-size: 14px;
  padding: 6px;
}

.medium {
  font-size: 16px;
  padding: 10px;
}

.large {
  font-size: 18px;
  padding: 12px;
}

.regular {
  border: 1px solid $gray5;
  border-radius: 3px;
}

.text {
  padding: 0;
}
